<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="/assets/icon/logo1.jpg"> </ion-img>
      <ion-card-header>
        <ion-card-title>Gordon College</ion-card-title>
        <ion-card-subtitle>Olongapo City</ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>Gordon College (formerly Olongapo City Colleges) is a local college 
      operating under the City Government of Olongapo.</ion-card-content>
      <ion-button fill ="solid">Read more...</ion-button>
  </ion-card>

</ion-content>
